{% for block in section.blocks %}
    <div class="front-page-section-container">
        <div class="front-page-section-image">
            <img src="{{ block.settings.image | img_url: '500x'}}" alt="{{ block.settings.image.alt }}">
        </div>
        <div class="front-page-section-content-container">
            {% if block.settings.title != black %}
                <span class="front-page-section-title">
                    {{block.settings.title}}
                </span>
            {% endif %}
            {% if block.settings.content != black %}
                <span class="front-page-section-content">
                    {{block.settings.content}}
                </span>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% stylesheet %}
.front-page-section-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.front-page-section-image {
    width: 40%;
}
.front-page-section-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0.7%;
}
.front-page-section-title {
    font-size: 30px;
}
.front-page-section-content {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}
    
{% endstylesheet %}
{% schema %}
{
    "name": "Front Page Section",
    "blocks": [
    {
        "name": "Front Page Blocks",
        "type": "FrontPageBlock",
        "settings" :[
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        }
        ]
    }
    ],
    "presets": [{
            "name": "Front Page Section"
        }
    ]
}

{% endschema %}